.sequencer
  width: 100%
  border: 1px solid blue
  margin: auto
  .control-panel
    margin: auto
    height: 50px
    background-color: red
    width: 100%
    display: flex
    .global-controls
      width: 30%
      display: flex
      align-items: center
      justify-content: flex-end
      .play-button
        display: flex
        align-items: center
        justify-content: center
        height: 50px
        background: green
        width: 100px

    .step-counter
      display: flex
      align-items: center
      justify-content: center
      height: 50px
      .step-pad
        background: green
        display: inline-block
        width: 30px
        text-align: center
      .step-pad.active
        background: yellow
  .track-container
    width: 100%


