.track
  width: 100%
  display: flex
  align-items: center
  justify-content: center
  height: 30px
  border-bottom: 1px solid grey
  .transport-container
    display: flex
    align-items: center
    justify-content: flex-end
    height: 50px
    width: 30%
    height: 100%
    .volume-slider
      width: 30%
      margin: 5px
    .track-name
      display: flex
      align-items: center
      justify-content: flex-start
      width: 40%
      height: 100%
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
      font-size: 0.8em
      padding: 5px
    .controls-container
      display: inline-block
  .pad-container
    width: 70%
    display: flex
    height: 100%
    display: inline-block




